@model List<Product>;
@{
    ViewData["Title"] = "Product Page";
    var products = Model;
    var categories = ViewBag.categories;
}

<div class="text-center">
    <h1 class="display-4">Welcome Product</h1>
    <table class="table table-stripd table-hover">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Slug</th>
            <th>Catgory</th>
            <th>Options</th>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Price$</td>
                    <td>@product.Quantity</td>
                    <td>@product.Slug</td>
                    <td>@product.Category.Name</td>
                    @* <td>@categories.GetCategoryById(product.CategoryId).Name</td> *@
                    <td>
                        <a href="/Product/Update/@product.Id" class="btn btn-success">Update</a>
                        <a href="/Product/Delete/@product.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/Product/Create" class="btn btn-primary">Add Product</a>
</div>